In [2]:
import pickle
import pandas as pd
import os

In [ ]:
with open("/workspace/datasets/final_combined_with_index.pkl", 'rb') as f:
    dataset = pickle.load(f)

In [ ]:
len(dataset)

In [ ]:
arts300 = pickle.load(open("/workspace/datasets/ARTS_only_texts_300.pkl", "rb"))
arts300_df = pd.DataFrame(columns=dataset.columns)

In [ ]:
arts300_df['src'] = arts300
arts300_df['simp'] = arts300
arts300_df['ds_id'] = "arts300"
arts300_df['Year'] = "2024"
arts300_df['Index'] = [f"arts300__{i}__{i}" for i in range(len(arts300))]

In [ ]:
pickle.dump(dataset, open("/workspace/datasets/final_combined_with_index_with_arts300.pkl", "wb"))

In [28]:
# get openai embeddings
from dotenv import load_dotenv
from openai import OpenAI
from tqdm.auto import tqdm
tqdm.pandas()

load_dotenv("/workspace/.env")
OPENAI_API_KEY = os.environ.get("OPENAI_API_KEY")

client = OpenAI()

In [4]:
def get_embedding(text, model="text-embedding-3-small"):
   text = text.replace("\n", " ")
   return client.embeddings.create(input = [text], model=model).data[0].embedding

In [19]:
arts94 = pickle.load(open("/workspace/datasets/ARTS_only_texts_94.pkl", "rb"))
arts94.columns = ['text']

In [29]:
arts300 = pickle.load(open("/workspace/datasets/ARTS_only_texts_300.pkl", "rb"))
arts300.columns = ['text']

In [30]:
arts300

                                                  text
0    It was an opening night movie on August 31, 2016.
1    Other actors were seriously considered for oth...
2    The airline operates its largest hub at Seattl...
3    By eighth grade he was penning parodies of the...
4    Padmé Amidala (born Padmé Naberrie) is a ficti...
..                                                 ...
295  Foster's most recent book, The Ecological Revo...
296  She was found by Walter Pidgeon when he came t...
297  They worry silver may lose its power to fight ...
298  Scene 2: the Doctor rushes by the Captain in t...
299  The crowded conditions keep male penguins prot...

[300 rows x 1 columns]

In [25]:
arts94['gpt_embedding'] = arts94['text'].apply(lambda x: get_embedding(x, model='text-embedding-3-small'))

In [31]:
arts300['gpt_embedding'] = arts300['text'].progress_apply(lambda x: get_embedding(x, model='text-embedding-3-small'))

  0%|          | 0/300 [00:00<?, ?it/s]

In [27]:
pickle.dump(arts94, open("/workspace/datasets/ARTS_94_small_embeddings.pkl", "wb"))

In [32]:
pickle.dump(arts300, open("/workspace/datasets/ARTS_300_small_embeddings.pkl", "wb"))